body {
  font-family: Arial, sans-serif;
  background-image: url(https://www.chromethemer.com/wallpapers/chromebook-wallpapers/images/960/water-pokemon-chromebook-wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  
}

